.layout-wrapper {
  border-style: none;
  border-radius: 20px;
  height: 600px;
  margin: 20px;
  background: url('../../images/floorTiles1.jpg');
  background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 14px 30px -16px rgba(0,0,0,0.75);
}

.table-number {
  /* width: 100%;
    height: 100%;

	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;

	max-width:100%;
	max-height:100%;
	overflow:auto; */
  list-style-type: none;
  font-family: arial;
  font-size: 30px;
}

[id="1"] {
  position: absolute;
  top: 300px;
  left: 100px;
}

[id="2"] {
  position: absolute;
  top: 300px;
  left: 350px;
}

[id="3"] {
  position: absolute;
  top: 300px;
  left: 700px;
}

[id="4"] {
  position: absolute;
  top: 500px;
  left: 600px;
}
[id="5"] {
  position: absolute;
  top: 700px;
  left: 100px;
}
[id="6"] {
  position: absolute;
  top: 700px;
  left: 400px;
}

.small-round {
  text-align: center;
  height: 125px;
  width: 125px;
  border-style: none;
  border-radius: 10px;
  border-width: 2px;
  /* background: url('../../images/tableCloth.jpg'); */
  background-color: #f5f1ed;
  box-shadow: 0px 14px 30px -16px rgba(0,0,0,0.75);
}

.medium-rectangle {
  text-align: center;
  height: 175px;
  width: 175px;
  border-style: none;
  border-radius: 50%;
  border-width: 2px;
  /* background: url('../../images/tableCloth.jpg'); */
  background-color: #f5f1ed;
  box-shadow: 0px 14px 30px -16px rgba(0,0,0,0.75);
}

.large-square {
  text-align: center;
  height: 175px;
  width: 175px;
  border-style: none;
  border-radius: 50%;
  border-width: 2px;
  /* background: url('../../images/tableCloth.jpg'); */
  background-color: #f5f1ed;
  box-shadow: 0px 14px 30px -16px rgba(0,0,0,0.75);
}

.large-round {
  text-align: center;
  height: 125px;
  width: 300px;
  border-style: none;
  border-radius: 10px;
  border-width: 2px;
  /* background: url('../../images/tableCloth.jpg'); */
  background-color: #f5f1ed;
  box-shadow: 0px 14px 30px -16px rgba(0,0,0,0.75);
}

.small:hover {
  background-color: #e8e8df;
}
.medium:hover {
  background-color: #e8e8df;
}
.large:hover {
  background-color: #e8e8df;
}
